.myicons{
    font-size: 40px;
    /* column-gap: 0cap; */

}
.card1{
    background-color: rgb(224, 224, 245);
    color: black;
}
.message{
    font-size: 10px;
    background-image: linear-gradient(120deg, #dfb7f3 0%, #ebf1f6 100%);
}

.bg-banner{
   
        height: 260px;
        background-position: center center;
        background-repeat: no-repeat;
}